/*@import 'nib'

vendor-prefixes= o ms moz webkit yotros
*/

blue=#4574EF

body
	background #31D56A

.botonera
	height-line

.bitch
	border 1px solid black
	height-line 30px
	//margin 30px
	padding 16px
	display inline
	width 50px
	height 100px
	background blue

.btn
	//margin 30px 10px 30px 10px
	height-line 30px
	background blue
	border 1px solid orange
	color white
	border-radius 5px
	text-transform uppercase
	transition 1s background
	&hover
		background #94CD3F

	&yellow
		background #E4DF0E
		&hover
			background orange
	&blue
		background #3AE9E9
		&hover
			background #1C46F0
		
.padre
	/*background linear-gradient(top,white,black)*/
	padding 60px
	.hijo
		font-size 16px